<a href="https://colab.research.google.com/github/SDGPTeamX/PregRed/blob/ml_Rashmika/datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas library
import pandas as pd

In [4]:
#data frame 
dataf = pd.read_csv('pregred_dataset.csv')

In [5]:
dataf.head()

   'Blood Sugar'  Haemoglobin  ...  'Blood Pressure'  'Is the newborn healthy?'
0       0.898990     0.648649  ...          0.000000                        Yes
1       0.277778     0.540541  ...          0.000000                        Yes
2       0.444444     0.378378  ...          0.000000                        Yes
3       0.496608     0.591225  ...          0.666667                         No
4       0.444444     0.337838  ...          0.000000                        Yes

[5 rows x 14 columns]