<a href="https://colab.research.google.com/github/SDGPTeamX/PregRed/blob/ml_Nanduni/ML_testing_nanduni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import pandas
import pandas as pd

In [2]:
df = pd.read_csv('DataSet2.csv.csv')

In [3]:
#no.of rows and columns
df.shape

(1998, 14)

In [4]:
#bottom rows
df.tail(20)

      'Blood Sugar'  Haemoglobin  ...  'Blood Pressure'  'Is the newborn healthy?'
1978       0.646465     0.310811  ...          0.000000                         No
1979       0.496608     0.591225  ...          0.000000                         No
1980       0.496608     0.591225  ...          0.666667                         No
1981       0.565657     0.648649  ...          0.000000                         No
1982       0.404040     0.567568  ...          0.000000                         No
1983       0.444444     0.391892  ...          0.000000                         No
1984       0.606061     0.608108  ...          0.000000                         No
1985       0.545455     0.378378  ...          0.000000                         No
1986       0.525253     0.256757  ...          0.000000                         No
1987       0.535354     0.283784  ...          0.000000                         No
1988       0.496608     0.591225  ...          0.000000                         No
1989       0.444444     0.256757  ...          0.000000                         No
1990       0.496608     0.810811  ...          0.000000                         No
1991       0.393939     0.459459  ...          0.666667                         No
1992       0.383838     0.540541  ...          0.000000                         No
1993       0.525253     0.635135  ...          0.000000                         No
1994       0.545455     0.648649  ...          0.000000                         No
1995       0.444444     0.567568  ...          0.000000                         No
1996       0.555556     0.756757  ...          0.000000                         No
1997       0.525253     0.581081  ...          0.000000                         No

[20 rows x 14 columns]